<!DOCTYPE html>
<html lang="Es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>JAC LA SOLEDAD</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/resources/css/styles.css" rel="stylesheet">
    <link href="/resources/css/main.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">

        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/"><img src="/resources/assets/img/Logo.png" alt="" width="30%" height="30%" class="align-text-middle"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">Sobre nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="#valores">Valores Éticos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#eventos">Eventos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contactanos</a></li>
                    <li class="nav-item"><a class="nav-link" href="logout">Cerrar sesión </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Bienvenidos</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">NUESTRA JUNTA DE ACCION COMUNAL ES</p>
                    <a class="btn btn-primary btn-xl" href="#about">Conoce más</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Descripción de la JAC</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4"> Es una organización conformada por diecisiete dignatarios; presidente, vicepresidente, tesorero, secretario, tres conciliadores, tres delegados a la organización  de segundo grado, comité de deportes, comité de soportes, comité de salud, comité empresarial, comité de emergencias y un fiscal.
                        Esta localizada en el Barrio Calazan de Medellin, por la estacion del metro Floresta.</p>
                    <a class="btn btn-light btn-xl" href="#valores">LEER MAS</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="valores">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Nuestros Valores Éticos</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Responsabilidad</h3>
                        <p class="text-muted mb-0">Valor moral que permite a una persona administrar, reflexionar, orientar y valorar las consecuencias de sus actos</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Honestidad</h3>
                        <p class="text-muted mb-0">Se define como la característica humana que establece al individuo, a conducirse en sinceridad y justicia, expresar respeto por uno mismo y los demás.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Eficacia</h3>
                        <p class="text-muted mb-0"> Una persona eficaz, es que la sabe solucionar los problemas, salidas a las encrucijadas, y punto de llegadas para cada meta. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Respeto</h3>
                        <p class="text-muted mb-0"> es conocer los derechos iguales, de todos los individuos asi como en la sociedad en la que vivimos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0" id="eventos">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a posh="portfolio-box" href="/AdultoMayor" title="">
                        <img class="img-fluid" src="/resources/assets/img/adulto mayor.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>
                        	


                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a posh="portfolio-box" href="/Baile" title="">
                        <img class="img-fluid" src="/resources/assets/img/baile.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a posh="portfolio-box" href="/BuenComienzo" title="Buen Comienzo">
                        <img class="img-fluid" src="/resources/assets/img/buen comienzo.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>

                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a post="portfolio-box" href="/Manualidades" title="Manualidades">
                        <img class="img-fluid" src="/resources/assets/img/manualidades.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a post="portfolio-box" href="/SinLimites" title="">
                        <img class="img-fluid" src="/resources/assets/img/discapacidad.jpeg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a post="portfolio-box" href="/Telecentro" title="">
                        <img class="img-fluid" src="/resources/assets/img/telecentro.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50"></div>
                            <div class="project-name"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Sigamos en contacto</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Enviamos tu mensaje con tus datos</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form action="contactanos" method="POST">
                        <div class="form-floating mb-3">
                            <input class="form-control" name="inputName" type="text" placeholder="Enter your name..." />
                            <label for="inputName">Nombre completo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="inputEmail" type="email" placeholder="name@example.com" />
                            <label for="inputEmail">Correo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="inputPhone" type="tel" placeholder="(123) 456-7890" />
                            <label for="inputPhone">Teléfono</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="inputMessage" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                            <label for="inputMessage">mensaje</label>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Enviar</button></div>
                    </form>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <!--div><i class="bi-phone fs-2 mb-3 text-muted"></i>-->
                    <a href="https://wa.link/t189rp"><i class="icon ion-logo-whatsapp"></i></a>
                    <a href="https://www.facebook.com/jac.lasoledad.1"><i class="icon ion-logo-facebook"></i></a>
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">La aplicación JAC LA SOLEDAD hace parte de un ejercicio académico en el programa Técnico en Programación de Software, en convenio Institución Universitaria Salazar y Herrera - SENA, 2021.
                Los autores: Vannesa Cifuentes, Valerys Pacheco, Sara Cifuentes</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="/resources/js/scripts.js"></script>
</body>

</html>
